<h2>Login</h2>

<form method="post" action="/login">
	<div class="field">
		<label for="login">Login:</label><br />
		<input type="text" id="login" name="login" placeholder="Usuario" />
	</div>
	<div class="field">
		<label for="Password">Password:</label><br />
		<input type="password" id="password" name="password" placeholder="Contraseña" />
	</div>
	<div class="actions">
		<input type="submit" name="commit" value="Login" />
	</div>
</form>