<h3>Autores: </h3>
<ul>
	<li>Juan Quemada<br>
		<a href="https://twitter.com/jquemada" target="_blank"><img src="/images/jquemada.png"></a>
	</li>
	<li><%= autor %><br>
		<a href="https://twitter.com/diegojfdez" target="_blank"><img src="/images/diego.jpg" width="73px" height="73px"></a>
	</li>
</ul>
<p>El portal donde podra crear sus propias Quizs!</p>
    