*					{ margin: 0; padding: 0; }
body 				{ font: 16px Georgia, serif; }

#page-wrap			{ margin: 2% auto; color: white; }
#page-wrap > .main	{ border: 1px solid #999; padding: 1%;
					  margin-bottom: 1px; color: black; }

section > div		{ padding: 20px; }

header, nav, section { background: #eee; text-align: center; }
footer				 { background: #eee; text-align: center; }
nav span			 { margin: 0px 10px 0px 0px; }
ul li 				 {
    padding: 5px 10px 5px 20px;
    display: inline-flex; 
    list-style: outside none none;
    font-size: 14px;
    color: #717171;
    background: #F3F3F3 url("/images/ico_neutro.png") no-repeat scroll 5px 9px;
}
img 				 { padding: 5px ;}