<form method="get" action="/quizes/answer">
  Tema:   Pregunta: <%= tema %> ? <p />
  Pregunta: <%= pregunta %> ? <p />
  <input type="text" name="respuesta" value="Responda aquí" />
  <input type="submit" value="Enviar" />
</form>